<%- include('./partials/head') %>

<section class="player-section">
    <h1>Spelers van team (team)</h1>
    <article class="">
        <div></div>
    </article>
</section>


<%- include('./partials/foot') %>